<div class="main-container">
    <div class="container">
        <div class="row">
            <div class="col-sm-5 login-box">
                <div class="panel panel-default">
                    <div class="panel-intro text-center">
                        <h2 class="logo-title">
                            <!-- Original Logo will be placed here  -->
                            <span class="logo-icon"><i class="icon icon-search-1 ln-shadow-logo shape-0"></i> </span> Fly<span>Jobs24 </span> </h2>
                    </div>
                    <div class="panel-body">
                        <div ng-class="{ 'alert': flash, 'alert-success': flash.type === 'success', 'alert-danger': flash.type === 'error' }" ng-if="flash" ng-bind="flash.message"></div>
                        <form role="form" name="form" ng-submit="vm.recover()">
                            <div class="form-group" ng-class="{ 'has-error': form.email.$dirty && form.email.$error.required }">
                                <label for="sender-email" class="control-label">Email:</label>
                                <div class="input-icon"> <i class="icon-user fa"></i>
                                    <input required id="sender-email" type="email" name="email" ng-model="vm.user.email"  placeholder="Email" class="form-control email">
                                </div>
                                <span ng-show="form.email.$dirty && form.email.$error.required" class="help-block">A valid email is required</span>
                            </div>
                            <div class="form-group">
                                <button type="submit" ng-disabled="form.$invalid || vm.dataLoading" class="btn btn-primary btn-lg btn-block">Send me my password</button>
                            </div>
                        </form>
                    </div>
                    <div class="panel-footer">
                        <p class="text-center "> <a href="/#/login"> Back to Login </a> </p>
                        <div style=" clear:both"></div>
                    </div>
                </div>
                <div class="login-box-btm text-center">
                    <p> Don't have an account? <br>
                        <a href="/#/register"><strong>Sign Up !</strong> </a> </p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /.main-container -->
