
<!DOCTYPE html>
<!--
This is a starter template page. Use this page to start your new project from
scratch. This page gets rid of all links and provides the needed markup only.
-->
<html>
<head>
    <meta charset="UTF-8">
    <title>{{@app.title}} | {{@page.title}}</title>
    <meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport'>
    <!-- Bootstrap 3.3.4 -->
    <link href="/assets/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <!-- Font Awesome Icons -->
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <!-- Ionicons -->
    <link href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css" rel="stylesheet" type="text/css" />
    <link href="/assets/plugins/datatables/dataTables.bootstrap.css" rel="stylesheet" type="text/css" />
    <!-- Theme style -->
    <link href="/assets/dist/css/AdminLTE.min.css" rel="stylesheet" type="text/css" />
    <!-- AdminLTE Skins. We have chosen the skin-blue for this starter
          page. However, you can choose any other skin. Make sure you
          apply the skin class to the body tag so the changes take effect.
    -->
    <link href="/assets/dist/css/skins/skin-red-light.css" rel="stylesheet" type="text/css" />
    <link href="/assets/plugins/iCheck/square/blue.css" rel="stylesheet" type="text/css" />

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <style type="text/css">
        <!--
        .style1 {color: #999999}
        -->
    </style>
</head>
<!--
BODY TAG OPTIONS:
=================
Apply one or more of the following classes to get the
desired effect
|---------------------------------------------------------|
| SKINS         | skin-blue                               |
|               | skin-black                              |
|               | skin-purple                             |
|               | skin-yellow                             |
|               | skin-red                                |
|               | skin-green                              |
|---------------------------------------------------------|
|LAYOUT OPTIONS | fixed                                   |
|               | layout-boxed                            |
|               | layout-top-nav                          |
|               | sidebar-collapse                        |
|               | sidebar-mini                            |
|---------------------------------------------------------|
-->
<body class="skin-black-light sidebar-mini">
<div class="wrapper">

<!-- Main Header -->
<header class="main-header">

    <!-- Logo -->
    <a href="#" class="logo">
        <!-- mini logo for sidebar mini 50x50 pixels -->
        <span class="logo-mini"><img src="/assets/dist/img/ac+.png"></span>
        <!-- logo for regular state and mobile devices -->
        <span class="logo-lg"><img src="/assets/dist/img/logo.png" alt="acacia plus logo"></span>
    </a>

    <!-- Header Navbar -->
    <nav class="navbar navbar-static-top" role="navigation">
        <!-- Sidebar toggle button-->
        <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
            <span class="sr-only">Toggle navigation</span>
        </a>
        <!-- Navbar Right Menu -->
        <div class="navbar-custom-menu">
            <ul class="nav navbar-nav">
                <!-- Messages: style can be found in dropdown.less-->
                <li class="dropdown messages-menu">
                    <!-- Menu toggle button -->
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <i class="fa fa-envelope-o"></i>
                        <span class="label label-success">4</span>                </a>
                    <ul class="dropdown-menu">
                        <li class="header">You have 4 messages</li>
                        <li>
                            <!-- inner menu: contains the messages -->
                            <ul class="menu">
                                <li><!-- start message -->
                                    <a href="#">
                                        <div class="pull-left">
                                            <!-- User Image -->
                                            <img src="/assets/dist/img/user2-160x160.jpg" class="img-circle" alt="User Image"/>
                                        </div>
                                        <!-- Message title and timestamp -->
                                        <h4>
                                            Support Team
                                            <small><i class="fa fa-clock-o"></i> 5 mins</small>
                                        </h4>
                                        <!-- The message -->
                                        <p>Why not buy a new awesome theme?</p>
                                    </a>
                                </li><!-- end message -->
                            </ul><!-- /.menu -->
                        </li>
                        <li class="footer"><a href="#">See All Messages</a></li>
                    </ul>
                </li><!-- /.messages-menu -->

                <!-- Notifications Menu -->
                <li class="dropdown notifications-menu">
                    <!-- Menu toggle button -->
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <i class="fa fa-bell-o"></i>
                        <span class="label label-warning">10</span>                </a>
                    <ul class="dropdown-menu">
                        <li class="header">You have 10 notifications</li>
                        <li>
                            <!-- Inner Menu: contains the notifications -->
                            <ul class="menu">
                                <li><!-- start notification -->
                                    <a href="#">
                                        <i class="fa fa-users text-aqua"></i> 5 new members joined today
                                    </a>
                                </li><!-- end notification -->
                            </ul>
                        </li>
                        <li class="footer"><a href="#">View all</a></li>
                    </ul>
                </li>
                <!-- Tasks Menu -->
                <li class="dropdown tasks-menu">
                    <!-- Menu Toggle Button -->
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <i class="fa fa-flag-o"></i>
                        <span class="label label-danger">9</span>                </a>
                    <ul class="dropdown-menu">
                        <li class="header">You have 9 tasks</li>
                        <li>
                            <!-- Inner menu: contains the tasks -->
                            <ul class="menu">
                                <li><!-- Task item -->
                                    <a href="#">
                                        <!-- Task title and progress text -->
                                        <h3>
                                            Design some buttons
                                            <small class="pull-right">20%</small>
                                        </h3>
                                        <!-- The progress bar -->
                                        <div class="progress xs">
                                            <!-- Change the css width attribute to simulate progress -->
                                            <div class="progress-bar progress-bar-aqua" style="width: 20%" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">
                                                <span class="sr-only">20% Complete</span>
                                            </div>
                                        </div>
                                    </a>
                                </li><!-- end task item -->
                            </ul>
                        </li>
                        <li class="footer">
                            <a href="#">View all tasks</a>
                        </li>
                    </ul>
                </li>
                <!-- User Account: style can be found in dropdown.less -->
                <li class="dropdown user user-menu">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <img src="/assets/dist/img/user.gif" class="user-image" alt="User Image"/>
                        <span class="hidden-xs">Logged in as: {{\Admin\Controllers\Auth::logged_in_user()}}</span>
                    </a>
                    <ul class="dropdown-menu">
                        <!-- Menu Body -->

                        <!-- Menu Footer-->
                        <li class="user-footer">
                            <div class="pull-left">
                                <a href="#" class="btn btn-default btn-flat">Profile</a>
                            </div>
                            <div class="pull-right">
                                <a href="/auth/logout" class="btn btn-default btn-flat">Sign out</a>
                            </div>
                        </li>
                    </ul>
                </li>
                <!-- Control Sidebar Toggle Button -->
                <li>
                    <a href="/admin/settings" data-toggle="control-sidebar"><i class="fa fa-gears"></i></a>
                </li>
            </ul>
        </div>
    </nav>
</header>
<!-- Left side column. contains the logo and sidebar -->
<aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">

        <!-- sidebar menu: : style can be found in sidebar.less -->
        <ul class="sidebar-menu">
            <li class="header"><font size="+1">MAIN NAVIGATION</font></li>
            <li class="treeview" >
                <a href="#">
                    <i class="fa fa-gear"></i> <span>System Configs</span> <i class="fa fa-angle-left pull-right"></i>
                </a>
                <ul class="treeview-menu">
                    <li><a href="/{{@module}}/configs/starratings"><i class="fa fa-angle-double-right"></i> User Configs</a></li>
                    <li><a href="/{{@module}}/configs/servicetypes"><i class="fa fa-angle-double-right"></i> Service Types</a></li>
                    <li><a href="/{{@module}}/configs/servicestatus"><i class="fa fa-angle-double-right"></i> Service Status</a></li>
                    <li><a href="/{{@module}}/configs/pricecodes"><i class="fa fa-angle-double-right"></i> Price Codes</a></li>
                    <li><a href="/{{@module}}/configs/itinerarytypes"><i class="fa fa-angle-double-right"></i> Itinerary Types</a></li>
                    <li><a href="/{{@module}}/configs/bookingstatus"><i class="fa fa-angle-double-right"></i> Booking Status</a></li>
                    <li><a href="/{{@module}}/destinations"><i class="fa fa-angle-double-right"></i> Destinations</a></li>
                    <li><a href="/{{@module}}/configs/roomtypes"><i class="fa fa-angle-double-right"></i> Room Types</a></li>
                    <li><a href="/{{@module}}/configs/starratings"><i class="fa fa-angle-double-right"></i> Star Ratings</a></li>
                </ul>
            </li>
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-connectdevelop"></i> <span>Manage Places</span> <i class="fa fa-angle-left pull-right"></i>
                </a>
                <ul class="treeview-menu">
                    <li><a href="/{{@module}}/countries"><i class="fa fa-angle-double-right"></i> Countries</a></li>
                    <li><a href="#"><i class="fa fa-angle-double-right"></i> Cities/Places</a></li>
                    <li><a href="/{{@module}}/destinations"><i class="fa fa-angle-double-right"></i> Destinations</a></li>
                </ul>
            </li>
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-building"></i> <span>Manage Agents</span> <i class="fa fa-angle-left pull-right"></i>
                </a>
                <ul class="treeview-menu">
                    <li><a href="/{{@module}}/agents/add"><i class="fa fa-angle-double-right"></i> Create Agent(s)</a></li>
                    <li><a href="/{{@module}}/agenttypes"><i class="fa fa-angle-double-right"></i> Agent Types</a></li>
                    <li><a href="/{{@module}}/agents"><i class="fa fa-angle-double-right"></i> List Agents</a></li>
                </ul>
            </li>
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-building-o"></i> <span>Manage Suppliers</span> <i class="fa fa-angle-left pull-right"></i>
                </a>
                <ul class="treeview-menu">
                    <li><a href="/{{@module}}/suppliers/add"><i class="fa fa-angle-double-right"></i> Create Supplier(s)</a></li>
                    <li><a href="/{{@module}}/suppliertypes"><i class="fa fa-angle-double-right"></i> Supplier Types</a></li>
                    <li><a href="/{{@module}}/suppliers"><i class="fa fa-angle-double-right"></i> List Suppliers</a></li>
                </ul>
            </li>
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-database"></i> <span>Manage Database</span> <i class="fa fa-angle-left pull-right"></i>
                </a>
                <ul class="treeview-menu">
                    <li><a href="#"><i class="fa fa-angle-double-right"></i> Manage Service Rates</a></li>
                    <li><a href="#"><i class="fa fa-angle-double-right"></i> List Service Rates</a></li>
                    <li><a href="#"><i class="fa fa-angle-double-right"></i> Define Rate Types</a></li>
                    <li><a href="#"><i class="fa fa-angle-double-right"></i> Define Markup Rates</a></li>
                </ul>
            </li>
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-file-text"></i> <span>Manage Bookings</span> <i class="fa fa-angle-left pull-right"></i>
                </a>
                <ul class="treeview-menu">
                    <li><a href="#"><i class="fa fa-angle-double-right"></i> Create new Booking</a></li>
                    <li><a href="#"><i class="fa fa-angle-double-right"></i> Manage Bookings</a></li>
                    <li><a href="#"><i class="fa fa-angle-double-right"></i> List all Bookings</a></li>
                </ul>
            </li>
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-clipboard"></i> <span>Pre-Costed Tours</span> <i class="fa fa-angle-left pull-right"></i>
                </a>
                <ul class="treeview-menu">
                    <li><a href="#"><i class="fa fa-angle-double-right"></i> Precost Tour</a></li>
                    <li><a href="#"><i class="fa fa-angle-double-right"></i> Precosted Tour Types</a></li>
                    <li><a href="#"><i class="fa fa-angle-double-right"></i> List Precosted Tours</a></li>
                </ul>
            </li>
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-th"></i> <span>Mileage Matrix</span> <i class="fa fa-angle-left pull-right"></i>
                </a>
                <ul class="treeview-menu">
                    <li><a href="#"><i class="fa fa-angle-double-right"></i> Update Mileage Matrix</a></li>
                    <li><a href="#"><i class="fa fa-angle-double-right"></i> Edit Mileage Matrix</a></li>
                    <li><a href="#"><i class="fa fa-angle-double-right"></i> View Mileage Matrix</a></li>
                </ul>
            </li>
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-bar-chart"></i> <span>Report Views</span> <i class="fa fa-angle-left pull-right"></i>
                </a>
                <ul class="treeview-menu">
                    <li><a href="#"><i class="fa fa-angle-double-right"></i> Sales Report</a></li>
                    <li><a href="#"><i class="fa fa-angle-double-right"></i> Bednights Report</a></li>
                    <li><a href="#"><i class="fa fa-angle-double-right"></i> Bookings Report</a></li>
                    <li><a href="#"><i class="fa fa-angle-double-right"></i> Occupancy Report</a></li>
                    <li><a href="#"><i class="fa fa-angle-double-right"></i> Suppliers Report</a></li>
                    <li><a href="#"><i class="fa fa-angle-double-right"></i> Agents Report</a></li>
                    <li><a href="#"><i class="fa fa-angle-double-right"></i> Rates Report</a></li>
                </ul>
            </li>



        </ul>
    </section>
    <!-- /.sidebar -->
</aside>

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>{{@page.title}}
        </h1>

    </section>

    <!-- Main content -->

    <section class="content">
        <div class="container row col-lg-12">
            <repeat group="{{ \Flash::instance()->getMessages() }}" value="{{ @msg }}">
                <div class="alert alert-{{ @msg.status }} alert-dismissable">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                    {{ @msg.text | esc }}
                </div>
            </repeat>
            </div>
        <include if="{{ @INNER.PAGE }}" href="{{@INNER.PAGE}}" />

    </section><!-- /.content -->
</div><!-- /.content-wrapper -->

<!-- Main Footer -->
<footer class="main-footer">
    <div class="pull-right hidden-xs">
        <b>Version</b> {{@app.version}}
    </div>
    <strong>Copyright &copy; 2015 - 2016 <a href="https://www.timelines.co.ke">{{@app.title}}</a>.</strong> All rights reserved.
</footer>


<div class='control-sidebar-bg'></div>
</div><!-- ./wrapper -->

<!-- REQUIRED JS SCRIPTS -->

<!-- jQuery 2.1.4 -->
<script src="/assets/plugins/jQuery/jQuery-2.1.4.min.js"></script>
<!-- Bootstrap 3.3.2 JS -->
<script src="/assets/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
<!-- AdminLTE App -->
<script src="/assets/dist/js/app.min.js" type="text/javascript"></script>

<!-- Optionally, you can add Slimscroll and FastClick plugins.
      Both of these plugins are recommended to enhance the
      user experience. Slimscroll is required when using the
      fixed layout. -->
<script src="/assets/plugins/iCheck/icheck.min.js" type="text/javascript"></script>
<!-- DATA TABES SCRIPT -->
<script src="/assets/plugins/datatables/jquery.dataTables.min.js" type="text/javascript"></script>
<script src="/assets/plugins/datatables/dataTables.bootstrap.min.js" type="text/javascript"></script>
<script src="https://cdn.ckeditor.com/4.4.3/standard/ckeditor.js"></script>


<script>
    $(function () {
        $('input.icheck').iCheck({
            checkboxClass: 'icheckbox_square-blue',
            radioClass: 'iradio_square-blue',
            increaseArea: '20%' // optional
        });
        $('#datatable').dataTable({
            "bPaginate": true,
            "bLengthChange": true,
            "bFilter": true,
            "bSort": true,
            "bInfo": true,
            "bAutoWidth": true
        });
        try{
            CKEDITOR.replace('editor1');
        } catch(e){
            console.log('CKEDITOR not Found')
        }

        var uri = '{{@URI}}';
        var paths = (uri.split('/',4));
        var url="";
        for(count = 1; count < paths.length ; count++){
            url= url + '/' + paths[count];
            console.log(url);
            $('ul.sidebar-menu').find('a[href="'+ url + '"]').parents().map(
                    function(){
                        if(this.tagName == 'LI')
                            $(this).addClass('active');
                    }
            );
        }



    });
</script>
</body>
</html>