

    <div class="wrapper-dashboard">

        <div class="row">

            <div class="col-md-3">

                <div class="profile-categories">

                    <span>General Stats</span>
                    <ul class="clearfix">
                        <li><img src="/assets/images/graph.png" alt=""></li>
                    </ul>
                    <div class="hr"></div>

                    <div class="wrap">
                        <div class="fav clearfix">
                            <span class="title pull-left">Total Books Listed</span>
                            <span class="text pull-right first">{{ \Admin\Models\Book::countAll() }}</span>
                        </div>
                        <div class="view clearfix">
                            <span class="title pull-left">Total Books Sold</span>
                            <span class="text pull-right first">{{ \Admin\Models\Review::countAll() }}</span>
                        </div>
                        <div class="fav clearfix">
                            <span class="title pull-left">Total Purchases</span>
                            <span class="text pull-right">{{ \Admin\Models\Order::countAll() }}</span>
                        </div>
                        <div class="fav clearfix">
                            <span class="title pull-left">Categories</span>
                            <span class="text pull-right">{{ \Admin\Models\Category::countAll() }}</span>
                        </div>
                    </div>

                </div>

            </div>
            <div class="col-md-9">

                <div class="white-panel-widget clearfix m-sidebar m-bot-30 no-pad">
                    <div class="average-statistics-wrapper row no-margin">
                        <h3>System Admin Dashboard</h3>
                    </div>

                    <!--<div id="myfirstchart" style="height: 250px;"></div>-->


                    <div class="wrapper-circle-charts">

                        <div class="wrp row no-margin">

                            <div class="chart" data-percent="{{(\Admin\Models\OrderItem::countAll() / \Admin\Models\Order::countAll())*100}}" data-barcolor="#3498DB" data-linecap="butt" data-linewidth="12" data-trackcolor="#C2E0F4" data-size="150">
                                <span class="percent">{{(\Admin\Models\OrderItem::countAll() / \Admin\Models\Order::countAll())*100}}</span>
                                <p>{{(\Admin\Models\OrderItem::countAll() / \Admin\Models\Order::countAll())*100}}% Sales Per Order</p>
                                <canvas width="150" height="150"></canvas></div>



                            <div class="chart green" data-percent="{{(@counts.users / \Admin\Models\User::countAll())*100}}" data-barcolor="#2ABC68" data-linecap="butt" data-linewidth="12" data-trackcolor="#BFEBD1" data-size="150">
                                <span class="percent">{{(@counts.users / \Admin\Models\User::countAll())*100}}</span>
                                <p>{{@counts.users}} New Users </p>
                                <canvas width="150" height="150"></canvas></div>



                            <div class="chart green" data-percent="{{(@counts.authors / \Admin\Models\Book::countAll())*100}}" data-barcolor="#00FF99" data-linecap="butt" data-linewidth="12" data-trackcolor="#BFEBD1" data-size="150">
                                <span class="percent">{{(@counts.authors / \Admin\Models\Book::countAll())*100}}</span>
                                <p>{{@counts.authors}} Authors</p>
                                <canvas width="150" height="150"></canvas></div>



                            <div class="chart red" data-percent="{{(@counts.manufacturers / \Admin\Models\Book::countAll())*100}}" data-barcolor="#E64D5F" data-linecap="butt" data-linewidth="12" data-trackcolor="#fff" data-size="150">
                                <span class="percent">{{(@counts.manufacturers / \Admin\Models\Book::countAll())*100}}</span>
                                <p>{{@counts.manufacturers}} Total Publishers</p>
                                <canvas width="150" height="150"></canvas></div>



                            <div class="chart green" data-percent="{{(\Admin\Models\Category::countAll() / \Admin\Models\Book::countAll())*100}}" data-barcolor="#660033" data-linecap="butt" data-linewidth="12" data-trackcolor="#BFEBD1" data-size="150">
                                <span class="percent">{{(\Admin\Models\Category::countAll() / \Admin\Models\Book::countAll())*100}}</span>
                                <p>{{\Admin\Models\Category::countAll()}} Book Categories</p>
                                <canvas width="150" height="150"></canvas></div>

                        </div>

                    </div>


                </div>

                <div class="row"></div>



                <div class="white-panel-widget clearfix m-sidebar m-bot-30 no-pad">
                    <div class="average-statistics-wrapper row no-margin">
                        <h3>General System Reports </h3>



                    </div>



                    <table class="table simple search">
                        <thead>
                        <tr>
                            <th>Report Name </th>
                            <th>Parameters</th>
                            <th>Export to Excel</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr class="back">
                            <td> Total Books Listed </td>
                            <td>[{{ \Admin\Models\Book::countAll() }}]</td>
                            <td><a href="/admin/home/exportbooks"><img src="/assets/images/excel.png" width="40px" alt="Export to Excel" border="0"></a></td>
                        </tr>
                        <tr>
                            <td> Total Books Sold </td>
                            <td>[{{ \Admin\Models\Orderitem::countAll() }}]</td>
                            <td><a href="/admin/home/exportsoldbooks"><img src="/assets/images/excel.png" width="40px" alt="Export to Excel" border="0"></a></td>
                        </tr>
                        <tr class="back">
                            <td> Total Users</td>
                            <td>[{{ \Admin\Models\User::countAll() }}]</td>
                            <td><a href="/admin/home/exportusers"><img src="/assets/images/excel.png" width="40px" alt="Export to Excel" border="0"></a></td>
                        </tr>
                        <tr>
                            <td> Books Earnings </td>
                            <td>[{{ \Admin\Models\Book::countAll() }}]</td>
                            <td><a href="/admin/home/exportbookearnings"><img src="/assets/images/excel.png" width="40px" alt="Export to Excel" border="0"></a></td>
                        </tr>
                        <tr class="back">
                            <td>User And Books Bought </td>
                            <td>[{{ \Admin\Models\User::countAll() }}]</td>
                            <td><a href="/admin/home/exportuserbooks"><img src="/assets/images/excel.png" width="40px" alt="Export to Excel" border="0"></a></td>
                        </tr>
                        </tbody>
                    </table>




                </div>






            </div>

        </div>

    </div>

</div>

</div>

</div>
	
