<!-- Info boxes -->
<div class="row">
    <div class="col-md-3 col-sm-6 col-xs-12">
        <div class="info-box">
            <span class="info-box-icon bg-aqua"><i class="ion ion-ios-people-outline"></i></span>
            <div class="info-box-content">
                <span class="info-box-text">Total System Users</span>
                <span class="info-box-number">{{\Admin\Models\User::countAll()}}</span>
                <span class="info-box-text"><a href="/{{@module}}/users">View All Users</a></span>                </div>
            <!-- /.info-box-content -->
        </div><!-- /.info-box -->
    </div><!-- /.col -->
    <div class="col-md-3 col-sm-6 col-xs-12">
        <div class="info-box">
            <span class="info-box-icon bg-red"><i class="fa ion-ios-people-outline"></i></span>
            <div class="info-box-content">
                <span class="info-box-text">Inactive Users</span>
                <span class="info-box-number">{{\Admin\Models\User::status(0)}}</span>
                <span class="info-box-text"><a href="/{{@module}}/users?inactive">Inactive Users</a></span>                </div><!-- /.info-box-content -->
        </div><!-- /.info-box -->
    </div><!-- /.col -->
    <a class="btn btn-app" ><i class="fa fa-save"></i> Save </a>
    <a class="btn btn-app"><i class="fa fa-trash"></i> Delete </a>

    <!-- fix for small devices only -->
    <div class="clearfix visible-sm-block"></div>


</div><!-- /.row -->




<div class="row">
    <div class="col-md-12">
        <div class="box">
            <div class="box-header with-border">
                <h3 class="box-title">Kindly enter the required info below</h3>
                <div class="box-tools pull-right">


                    <div class="btn-group">
                        <button class="btn btn-box-tool dropdown-toggle" data-toggle="dropdown"><i class="fa fa-cog"></i></button>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="/{{@module}}/users/add">Add New User</a></li>
                            <li><a href="/{{@module}}/users">View all Users</a></li>
                            <li><a href="/{{@module}}/users?active">List all active Users</a></li>
                            <li><a href="/{{@module}}/users?inactive">List all Inactive Users</a></li>
                        </ul>
                    </div>

                </div>
            </div><!-- /.box-header -->


            <div class="box-body">
                <div class="row">
                    <div class="col-md-12">


                        <div class="box box-primary">
                            <!-- form start -->
                            <form action="#" class="form-horizontal" id="userform" name="userform" role="form" method="post" accept-charset="utf-8">
                                <div class="box-body">
                                    <div class="form-group">
                                        <label for="code" class="col-sm-3 control-label">User code</label>
                                        <div class="col-sm-3">
                                            <input type="text" class="form-control" id="code" name="user[code]"
                                                   placeholder="Enter code" />
                                            <span class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="name" class="col-sm-3 control-label">Full name</label>
                                        <div class="col-sm-7">
                                            <input type="text" class="form-control" id="name" name="user[fullname]"
                                                   placeholder="Enter full name of the user"/>
                                            <span class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="Tel" class="col-sm-3 control-label">Telephone No.</label>
                                        <div class="col-sm-7">
                                            <input type="text" class="form-control" id="tel" name="user[telephone]"
                                                   placeholder="Enter your Telephone Number" />
                                            <span class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="email" class="col-sm-3 control-label">Email address</label>
                                        <div class="col-sm-7">
                                            <input type="email" class="form-control" id="email" name="user[email]"
                                                   placeholder="Enter email"  />
                                            <span class="text-danger"></span>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <div class=" btn btn-danger">Leave Empty for no change in password</div>
                                        <label for="password" class="col-sm-3 control-label">Password</label>
                                        <div class="col-sm-4">
                                            <input type="password" class="form-control" id="password" name="user[password]"
                                                   placeholder="Password" />
                                            <span class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="btn btn-danger">Leave Empty for no change in password</div>
                                        <label for="password_repeat" class="col-sm-3 control-label">Confirm password</label>
                                        <div class="col-sm-4">
                                            <input type="password" class="form-control" id="password_repeat" name="password_repeat"
                                                   placeholder="Confirm password"/>
                                            <span class="text-danger"></span>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label for="type" class="col-sm-3 control-label">User Type</label>
                                        <div class="col-md-7">
                                            <select name="user[type]" id="type" required data-parsley-min="1" data-parsley-min-message="Please Select a User Type" group="{{ \Admin\Models\AgentType::select_data('title') }}" class="form-control" placeholder="Select UserType"></select>

                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label for="active" class="col-sm-3 control-label">Active</label>
                                        <div class="checkbox">
                                            <label>
                                                <input name="user[active]"  id="active" type="checkbox" class="icheck"/>
                                            </label>
                                        </div>
                                    </div>

                                </div>

                                <!-- /.box-body -->

                                <div class="box-footer">

                                    <div class="form-group">
                                        <div class="col-sm-offset-3 col-lg-8 col-sm-8 text-left">

                                            <button class="btn btn-app" type="submit"><i class="fa fa-save"></i> Save </button>
                                            <a href="/{{@module}}/users" class="btn btn-app"><i class="fa fa-times"></i> Cancel </a>

                                        </div>
                                    </div>
                                </div>

                            </form>





                        </div><!-- /.box -->

                    </div><!-- /.col -->
                </div><!-- /.row -->
            </div><!-- ./box-body -->
        </div><!-- /.box -->
    </div><!-- /.col -->
</div><!-- /.row -->






