<!-- Info boxes -->
<div class="row">
    <div class="col-md-3 col-sm-6 col-xs-12">
        <div class="info-box">
            <span class="info-box-icon bg-aqua"><i class="ion ion-ios-people-outline"></i></span>
            <div class="info-box-content">
                <span class="info-box-text">Total System Users</span>
                <span class="info-box-number">{{\Admin\Models\User::countAll()}}</span>
                <span class="info-box-text"><a href="/{{@module}}/users">View All Users</a></span>                </div>
            <!-- /.info-box-content -->
        </div><!-- /.info-box -->
    </div><!-- /.col -->
    <div class="col-md-3 col-sm-6 col-xs-12">
        <div class="info-box">
            <span class="info-box-icon bg-red"><i class="fa ion-ios-people-outline"></i></span>
            <div class="info-box-content">
                <span class="info-box-text">Inactive Users</span>
                <span class="info-box-number">{{\Admin\Models\User::status(0)}}</span>
                <span class="info-box-text"><a href="/{{@module}}/users?filter=inactive">Inactive Users</a></span>                </div><!-- /.info-box-content -->
        </div><!-- /.info-box -->
    </div><!-- /.col -->
    <a class="btn btn-app" href="/{{@module}}/users/add"><i class="fa fa-users"></i> Insert</a>
    <a class="btn btn-app delete"><i class="fa fa-trash"></i> Delete </a>

    <!-- fix for small devices only -->
    <div class="clearfix visible-sm-block"></div>


</div><!-- /.row -->

<div class="row">
    <div class="col-md-12">
        <div class="box">
            <div class="box-header with-border">
                <h3 class="box-title">Listing of all System Users</h3>

                <div class="box-tools pull-right">

                    <div class="btn-group">
                        <button class="btn btn-box-tool dropdown-toggle" data-toggle="dropdown"><i
                                class="fa fa-cog"></i></button>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="/{{@module}}/users/add">Add New User</a></li>
                            <li><a href="/{{@module}}/users">View all Users</a></li>
                            <li><a href="/{{@module}}/users?filter=active">List all active Users</a></li>
                            <li><a href="/{{@module}}/users?filter=inactive">List all Inactive Users</a></li>
                        </ul>
                    </div>

                </div>
            </div>
            <!-- /.box-header -->


            <div class="box-body">
                <div class="row">
                    <div class="col-md-12">


                        <div>

                            <!-- Main content -->
                            <section class="content">

                                <div class="row">
                                    <div class="col-xs-12">

                                        <div>
                                            <div class="box-body">
                                                <table id="datatable"
                                                       class="table table-bordered table-striped table-hover">
                                                    <thead>
                                                    <tr>
                                                        <th>User Code</th>
                                                        <th>Full Names</th>
                                                        <th>Tel. No.</th>
                                                        <th>Email</th>
                                                        <th>User Type</th>
                                                        <th>Status</th>
                                                        <th>Actions</th>
                                                    </tr>
                                                    </thead>
                                                    <tbody>
                                                    <repeat group="{{@list }}" value="{{ @user }}">
                                                        <tr>
                                                            <td class="sorting_1">{{@user->code}}</td>
                                                            <td>{{@user->fullname}}</td>
                                                            <td>{{@user->telephone}}</td>
                                                            <td>{{@user->email}}</td>
                                                            <td>{{@user->type->title}}</td>
                                                            <td><input type="checkbox" class="icheck" disabled="disabled" {{@user->active?'checked="checked"':''}}/></td>
                                                            <td><a href="/{{@module}}/users/edit/{{@user->id}}"><i
                                                                    class="fa fa-fw fa-pencil"></i></a> <span></span> <input type="checkbox" class="icheck deletables" name="deletables[]" data-id="{{@user->id}}"/></td>
                                                        </tr>
                                                    </repeat>
                                                    </tbody>
                                                    <tfoot>
                                                    <tr>
                                                        <th>User Code</th>
                                                        <th>Full Names</th>
                                                        <th>Tel. No.</th>
                                                        <th>Email</th>
                                                        <th>User Type</th>
                                                        <th>Status</th>
                                                        <th>Edit</th>
                                                    </tr>
                                                    </tfoot>
                                                </table>
                                            </div>
                                            <!-- /.box-body -->
                                        </div>
                                        <!-- /.box -->
                                    </div>
                                    <!-- /.col -->
                                </div>
                                <!-- /.row --></section>
                            <!-- /.content -->


                        </div>


                    </div>
                    <!-- /.col -->
                </div>
                <!-- /.row -->
            </div>
            <!-- ./box-body -->
        </div>
        <!-- /.box -->
    </div>
    <!-- /.col -->
</div><!-- /.row -->
</section><!-- /.content -->


</div>


</div><!-- /.col -->
</div><!-- /.row -->
</div><!-- ./box-body -->
</div><!-- /.box -->
</div><!-- /.col -->
</div><!-- /.row -->

