<div class="main-container">
<div class="container">
<div class="row">
<div class="col-sm-3 page-sidebar">
    <aside>
        <div class="inner-box">
            <div class="user-panel-sidebar">
                <div class="collapse-box">
                    <h5 class="collapse-title no-border"> My Account <a class="pull-right"><i class="fa fa-angle-down"></i></a></h5>
                    <div class="panel-collapse collapse in" id="MyClassified">
                        <ul class="acc-list">
                            <li><a ng-class="{ active: $state.includes('account.home') }" href="/account"><i class="icon-home"></i> Personal Home </a></li>

                        </ul>
                    </div>
                </div>
                <!-- /.collapse-box  -->
                <div class="collapse-box">
                    <h5 class="collapse-title"> My Jobs <a  class="pull-right"><i class="fa fa-angle-down"></i></a></h5>
                    <div class="panel-collapse collapse in" id="MyAds">
                        <ul class="acc-list">
                            <li><a ng-class="{ active: $state.includes('account.jobs.home') }" href="/account/jobs"><i class="icon-docs"></i> All My Jobs <span class="badge"></span> </a></li>
                            <li><a ng-class="{ active: $state.includes('account.jobs.pending') }" href="/account/jobs/pending"><i class="icon-hourglass"></i> Pending approval <span class="badge"></span></a></li>
                            <li><a ng-class="{ active: $state.includes('account.jobs.inprogess') }" href="/account/jobs/in-progress"><i class="icon-bicycle"></i> In Progress <span class="badge"></span></a></li>
                            <li><a ng-class="{ active: $state.includes('account.jobs.completed') }" href="/account/jobs/completed"><i class="icon-ok-circled2"></i> Completed <span class="badge"></span></a></li>

                        </ul>
                    </div>
                </div>
                <div class="collapse-box">
                    <h5 class="collapse-title"> My Job Bids <a  class="pull-right"><i class="fa fa-angle-down"></i></a></h5>
                    <div class="panel-collapse collapse in" id="MyJobAds">
                        <ul class="acc-list">
                            <li><a ng-class="{ active: $state.includes('account.bids.home') }" href="/account/bids"><i class="icon-docs"></i> Jobs I can Bid On <span class="badge"></span> </a></li>
                            <li><a ng-class="{ active: $state.includes('account.bids.pending') }" href="/account/bids/pending"><i class="icon-hourglass"></i> Open Bids (Pending Client Response) <span class="badge"></span></a></li>
                            <li><a ng-class="{ active: $state.includes('account.bids.inprogess') }" href="/account/bids/in-progress"><i class="icon-bicycle"></i> Won Bids <span class="badge"></span></a></li>
                            <li><a ng-class="{ active: $state.includes('account.bids.completed') }" href="/account/bids/completed"><i class="icon-ok-circled2"></i> Completed Jobs <span class="badge"></span></a></li>

                        </ul>
                    </div>
                </div>
                <div class="collapse-box">
                    <h5 class="collapse-title"> Questions <a  class="pull-right"><i class="fa fa-angle-down"></i></a></h5>
                    <div class="panel-collapse collapse in" id="MyQuestions">
                        <ul class="acc-list">
                            <li><a ng-class="{ active: $state.includes('account.questions.pending') }" href="/account/questions/pending"><i class="icon-hourglass"></i> Open Questions<span class="badge"></span></a></li>
                            <li><a ng-class="{ active: $state.includes('account.questions.answered') }" href="/account/questions/answered"><i class="icon-bicycle"></i> Answered Questions <span class="badge"></span></a></li>

                        </ul>
                    </div>
                </div>
                <!-- /.collapse-box  -->

                <div class="collapse-box">
                    <h5 class="collapse-title"> Terminate Account <a href="#TerminateAccount" data-toggle="collapse" class="pull-right"><i class="fa fa-angle-down"></i></a></h5>
                    <div class="panel-collapse collapse in" id="TerminateAccount">
                        <ul class="acc-list">
                            <li><a href="account-close.html"><i class="icon-cancel-circled "></i> Close account </a></li>
                        </ul>
                    </div>
                </div>
                <!-- /.collapse-box  -->
            </div>
        </div>
        <!-- /.inner-box  -->

    </aside>
</div>
<!--/.page-sidebar-->

    <div ui-view class="span9 slide"></div>
<!--/.page-content-->
</div>
<!--/.row-->
</div>
<!--/.container-->
</div>
<!-- /.main-container -->
