<div class="col-sm-9 page-content">
    <div class="inner-box">
        <h2 class="title-2"><i class="icon-docs"></i> {{Page.title}} </h2>
        <div class="table-responsive">
            <div class="table-action">
                <label for="checkAll">
                    <input type="checkbox" id="checkAll">
                    Select: All | <a href="#" class="btn btn-xs btn-danger">Delete <i class="glyphicon glyphicon-remove "></i></a> </label>
                <div class="table-search pull-right col-xs-7">
                    <div class="form-group">
                        <label  class="col-xs-5 control-label text-right">Search <br>
                            <a title="clear filter" class="clear-filter" href="#clear">[clear]</a> </label>
                        <div class="col-xs-7 searchpan">
                            <input type="text" class="form-control" ng-model="vm.searchText" id="filter">
                        </div>
                    </div>
                </div>
            </div>
            <table id="addManageTable" class="table table-striped table-bordered add-manage-table table demo" data-filter="#filter" data-filter-text-only="true" >
                <thead>
                <tr>
                    <th data-type="numeric" data-sort-initial="true"> </th>
                    <th> Job Title </th>
                    <th data-sort-ignore="true"> Job Details </th>
                    <th data-type="numeric" > Budget </th>
                    <th> Option </th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="job in vm.jobs | filter:vm.searchText">
                    <td style="width:2%" class="add-img-selector"><div class="checkbox">
                        <label>
                            <input type="checkbox">
                        </label>
                    </div></td>
                    <td style="width:14%"><strong> <a href="/#/job/{{job._id}}" title="{{job.title}}">{{job.title}}</a> </strong></td>

                    <td style="width:58%" class="ads-details-td"><div>

                        <p> <strong>Posted On:</strong>
                            {{job.datecreated}} </p>
                        <p> <strong>Description:</strong>
                            {{job.description | limitTo:50}} </p>
                        <p> <strong>Category:</strong> {{job.category.title}} </p>
                        <p> <strong>Address:</strong> {{job.address}}</p>

                    </div></td>
                    <td style="width:16%" class="price-td">
                        <div><strong>${{job.budget}}</strong> </div>
                        <p><span ng-if="job.bids.length" class="badge">{{job.bids.length}}</span><span ng-if="!job.bids.length" class="badge">0</span> <strong>Bids</strong> </p>
                    </td>
                    <td style="width:10%" class="action-td"><div>
                        <p><a class="btn btn-primary btn-xs" href="/#/account/bid/add/{{job._id}}"> <i class="fa fa-anchor"></i> Bid </a></p>
                        <p> <a class="btn btn-info btn-xs"> <i class="fa fa-mail-forward"></i> Share </a></p>
                        <p> <a class="btn btn-danger btn-xs"> <i class=" fa fa-trash"></i> Delete </a></p>
                    </div></td>
                </tr>
                </tbody>
            </table>
        </div>
        <!--/.row-box End-->

    </div>
</div>
