<div class="main-container">
    <div class="container">
        <ol class="breadcrumb pull-left">
            <li><a href="#"><i class="icon-home fa"></i></a></li>
            <li><a href="/">All Jobs</a></li>
            <li><a >{{vm.job.category.title}}</a></li>
            <li class="active">{{vm.job.title}}</li>
        </ol>
        <div class="pull-right backtolist"><a href="/account/bids"> <i class="fa fa-angle-double-left"></i> Back to Results</a></div>
    </div>
    <div class="container">
        <div class="row">

        <div class="col-sm-9 page-content col-thin-right">
            <div ng-class="{ 'alert': flash, 'alert-success': flash.type === 'success', 'alert-danger': flash.type === 'error' }" ng-if="flash" ng-bind="flash.message"></div>
    <div class="inner inner-box ads-details-wrapper">
        <h2>{{vm.job.title}} </h2>
        <span class="info-row"> <span class="date"><i class=" icon-clock"> </i> {{vm.job.datecreated}} </span> </span>

        <div class="Ads-Details">
            <h5 class="list-title"><strong>Job Details</strong></h5>
            <div class="row">
                <div class="ads-details-info col-md-8">
                    <p>{{vm.job.description}} </p>
                </div>
                <div class="col-md-4">
                    <aside class="panel panel-body panel-details">
                        <ul>
                            <li>
                                <p class=" no-margin "><strong>Budget:</strong> ${{vm.job.budget}}</p>
                            </li>
                            <li>
                                <p class="no-margin"><strong>Category:</strong> {{vm.job.category.title}} </p>
                            </li>
                            <li>
                                <p class=" no-margin "><strong>Date Due:</strong> {{vm.job.bid_accepted_date}}</p>
                            </li>
                        </ul>
                    </aside>
                    <div class="ads-action">
                        <ul class="list-border">
                            <li><a  href="#" > <i class=" fa fa-user"></i> More ads by User </a> </li>
                            <li><a  href="#" > <i class=" fa fa-heart"></i> Save ad </a> </li>
                            <li><a  href="#" > <i class="fa fa-share-alt"></i> Share ad </a> </li>
                            <li><a   href="#reportAdvertiser" data-toggle="modal"> <i class="fa icon-info-circled-alt"></i> Report abuse </a> </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="content-footer text-left"> <a class="btn  btn-default" data-toggle="modal" ng-click="vm.openbidform('lg')"><i class=" icon-mail-2"></i> Bid on Job </a> <a class="btn  btn-default" data-toggle="modal" ng-click="vm.openquestionform('lg')"><i class=" icon-mail-2"></i> Ask Question </a> </div>
        </div>
    </div>
    <!--/.ads-details-wrapper-->

</div>
<!--/.page-content-->
<div class="col-sm-3  page-sidebar-right">
    <aside>
        <div class="panel sidebar-panel panel-contact-seller">
            <div class="panel-heading">Contact Seller</div>
            <div class="panel-content user-info">
                <div class="panel-body text-center">
                    <div class="seller-info">
                        <h3 class="no-margin">{{vm.job.user.firstname}} {{vm.job.user.lastname}}</h3>
                        <p>Location: <strong>{{vm.job.user.city}}</strong></p>
                        <p> Joined: <strong>{{vm.job.user.datecreated}}</strong></p>
                    </div>
                    <div class="user-ads-action"> <a ng-click="vm.openbidform('lg')" data-toggle="modal" class="btn   btn-default btn-block"><i class=" icon-mail-2"></i> Bid on Job</a> </div>
                </div>
            </div>
        </div>
        <div class="panel sidebar-panel">
            <div class="panel-heading">Safety Tips for Buyers</div>
            <div class="panel-content">
                <div class="panel-body text-left">
                    <ul class="list-check">
                        <li> Meet seller at a public place </li>
                        <li> Check the item before you buy</li>
                        <li> Pay only after collecting the item</li>
                    </ul>
                    <p><a class="pull-right" href="#"> Know more <i class="fa fa-angle-double-right"></i> </a></p>
                </div>
            </div>
        </div>
        <!--/.categories-list-->
    </aside>
</div>
<!--/.page-side-bar-->
</div>
</div>
</div>
<!-- /.main-container -->
<script type="text/ng-template" id="myModalContent.html">
    <div class="modal-header">
        <h3 class="modal-title">Bid on Job</h3>
    </div>
    <div class="modal-body">
        <form role="form" name="form">

            <!-- Text input-->
            <div class="form-group required" ng-class="{ 'has-error': form.message.$dirty && form.message.$error.required }">
                <label class="col-md-4 control-label" >Message <sup>*</sup></label>
                <div class="col-md-8">
                    <textarea rows="8" name="message" ng-model="bid.message" placeholder="Message regarding bid" class="form-control input-md" required ></textarea>
                    <p ng-show="form.message.$dirty && form.message.$error.required" class="help-block"> Please include a message for the Client </p>
                </div>
            </div>
             <!-- Text input-->
            <hr/>
            <div class="clearfix"></div>
            <br/>
            <div class="form-group required" ng-class="{ 'has-error': form.amount.$dirty && form.amount.$error.required }">
                <label class="col-md-4 control-label" >Amount <sup>*</sup></label>
                <div class="col-md-6" style="padding-left: 15px">
                    <div class="input-group">
                        <span class="input-group-addon">$</span>
                        <input  name="amount" ng-model="bid.amount" placeholder="Charge/Budget in USD" class="form-control" type="number" required/>
                    </div>
                    <p ng-show="form.amount.$dirty && form.amount.$error.required" class="help-block"> Please input your Charge/Budget </p>
                </div>

            </div>
            <div class="form-group" ng-class="{ 'has-error': form.terms.$dirty && form.terms.$error.required }">
                <label  class="col-md-4 control-label">Terms:</label>
                <div class="col-md-8">
                    <div class="termbox mb10">
                        <label class="checkbox-inline" for="checkboxes-1">
                            <input name="terms" ng-model="bid.terms" id="checkboxes-1" type="checkbox" required>
                            I have read and agree to the <a href="/#/pages/terms-conditions">Terms & Conditions</a> </label>
                        <span ng-show="form.terms.$dirty && form.terms.$error.required" class="help-block">You have to agree to the terms and conditions</span>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
            <br/>
        </form>

    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" ng-disabled="form.$invalid" type="button" ng-click="ok()">OK</button>
        <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
    </div>
</script>
<script type="text/ng-template" id="QuestionModalContent.html">
    <div class="modal-header">
        <h3 class="modal-title">Ask Question</h3>
    </div>
    <div class="modal-body">
        <form role="form" name="form">

            <!-- Text input-->
            <fieldset>
                <!-- Text input-->
                <div class="form-group required" ng-class="{ 'has-error': form.firstname.$dirty && form.firstname.$error.required }">
                    <label class="col-md-4 control-label" >Title <sup>*</sup></label>
                    <div class="col-md-8">
                        <input  name="title" ng-model="question.title" placeholder="Question Title" class="form-control input-md" required type="text">
                        <p ng-show="form.title.$dirty && form.title.$error.required" class="help-block"> Please input Job Title </p>
                    </div>
                </div>
                <br/>
                <br/>

                <!-- Text input-->
                <div class="form-group required" ng-class="{ 'has-error': form.description.$dirty && form.description.$error.required }">
                    <label class="col-md-4 control-label" >Description <sup>*</sup></label>
                    <div class="col-md-8">
                        <textarea rows="7"  name="description" ng-model="question.description" placeholder="Question Description" class="form-control input-md" required ></textarea>
                        <p ng-show="form.description.$dirty && form.description.$error.required" class="help-block"> Please input the Job Description </p>
                    </div>
                </div>
            </fieldset>
        </form>

    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" ng-disabled="form.$invalid" type="button" ng-click="ok()">Ask</button>
        <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
    </div>
</script>

