<div class="col-sm-9 page-content col-thin-right">
    <div class="inner inner-box ads-details-wrapper">
        <h2>{{vm.job.title}} </h2>
        <span class="info-row"> <span class="date"><i class=" icon-clock"> </i> {{vm.job.datecreated}} </span> </span>

        <div class="Ads-Details">
            <h5 class="list-title"><strong>Job Details</strong></h5>
            <div class="row">
                <div class="ads-details-info col-md-8">
                    <p>{{vm.job.description}} </p>
                </div>
                <div class="col-md-4">
                    <aside class="panel panel-body panel-details">
                        <ul>
                            <li>
                                <p class=" no-margin "><strong>Price:</strong> ${{vm.job.budget}}</p>
                            </li>
                            <li>
                                <p class="no-margin"><strong>Category:</strong> {{vm.job.category.title}} </p>
                            </li>
                            <li>
                                <p class=" no-margin "><strong>Date Due:</strong> {{vm.job.bid_accepted_date}}</p>
                            </li>
                            <li>
                                <p> <strong>Bids </strong>: <span ng-if="vm.job.bids.length" class="badge">{{vm.job.bids.length}}</span><span ng-if="!vm.job.bids.length" class="badge">0</span></p>
                            </li>
                        </ul>
                    </aside>
                    <div class="ads-action">
                        <ul class="list-border">
                            <li><a  href="#" > <i class=" fa fa-heart"></i> Save ad </a> </li>
                            <li><a  href="#" > <i class="fa fa-share-alt"></i> Share ad </a> </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="content-footer text-left">
                <table id="addManageTable" class="table table-striped table-bordered add-manage-table table demo" data-filter="#filter" data-filter-text-only="true" >
                    <thead>
                    <tr>
                        <th data-sort-ignore="true"> Bid Details </th>
                        <th data-type="numeric" > Bid Amount </th>
                        <th> Option </th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="bid in vm.job.bids | filter:vm.searchText">
                        <td style="width:58%" class="ads-details-td">
                            <div>

                                <p>{{bid.user.firstname}} {{bid.user.lastname}} offered to do the job for <strong> ${{bid.amount}} </strong>:
                                    </p>
                                <p> <strong> Posted On </strong>:
                                    {{bid.datecreated}}</p>
                                <p> <strong> Message </strong>:
                                    {{bid.message | raw}} </p>
                            </div>
                        </td>
                        <td style="width:16%" class="price-td"><div><strong> ${{bid.amount}}</strong></div></td>
                        <td style="width:10%" class="action-td"><div>
                            <p ng-if="!bid.job.bid_accepted_date"> <a class="btn btn-info btn-xs" ng-click="vm.openbidhandler(bid._id,'Approve')"> <i class="fa fa-plus-circle"></i> Approve </a></p>
                            <p ng-if="!bid.job.bid_accepted_date"> <a class="btn btn-danger btn-xs" ng-click="vm.openbidhandler(bid._id,'Reject')"> <i class=" fa fa-trash"></i> Reject </a></p>
                            <p ng-if="bid.bid_accepted_date"> <span class="label label-success"><i class="fa fa-plus-circle"></i> Approved </a></span></p>
                        </div></td>

                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <!--/.ads-details-wrapper-->

</div>
<!--/.page-content-->
<script type="text/ng-template" id="myModalContent.html">
    <div class="modal-header">
        <h3 class="modal-title">{{title}} Bid</h3>
    </div>
    <div class="modal-body">
        <form role="form" name="form">

            <!-- Text input-->
            <div class="form-group required" ng-class="{ 'has-error': form.message.$dirty && form.message.$error.required }">
                <label class="col-md-4 control-label" >Message <sup>*</sup></label>
                <div class="col-md-8">
                    <textarea rows="8" name="message" ng-model="bid.client_message" placeholder="Message to Agent" class="form-control input-md" required ></textarea>
                    <p ng-show="form.message.$dirty && form.message.$error.required" class="help-block"> Please include a message for the Agent </p>
                </div>
            </div>
            <!-- Text input-->
            <hr/>
            <div class="clearfix"></div>
            <br/>
            <div class="form-group" ng-class="{ 'has-error': form.terms.$dirty && form.terms.$error.required }">
                <label  class="col-md-4 control-label">Terms:</label>
                <div class="col-md-8">
                    <div class="termbox mb10">
                        <label class="checkbox-inline" for="checkboxes-1">
                            <input name="terms" ng-model="bid.terms" id="checkboxes-1" type="checkbox" required>
                            I have read and agree to the <a href="/#/pages/terms-conditions">Terms & Conditions</a> </label>
                        <span ng-show="form.terms.$dirty && form.terms.$error.required" class="help-block">You have to agree to the terms and conditions</span>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
            <br/>
        </form>

    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" ng-disabled="form.$invalid" type="button" ng-click="ok()">OK</button>
        <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
    </div>
</script>
