<div class="col-sm-9 page-content">
    <div class="inner-box">
        <h2 class="title-2"><i class="icon-docs"></i> {{Page.title}} </h2>
        <div class="table-responsive">
            <div class="table-action">
                <label for="checkAll">
                    <input type="checkbox" id="checkAll">
                    Select: All | <a href="#" class="btn btn-xs btn-danger">Delete <i class="glyphicon glyphicon-remove "></i></a> </label>
                <div class="table-search pull-right col-xs-7">
                    <div class="form-group">
                        <label  class="col-xs-5 control-label text-right">Search <br>
                            <a title="clear filter" class="clear-filter" href="#clear">[clear]</a> </label>
                        <div class="col-xs-7 searchpan">
                            <input type="text" class="form-control" ng-model="vm.searchText" id="filter">
                        </div>
                    </div>
                </div>
            </div>
            <table id="addManageTable" class="table table-striped table-bordered add-manage-table table demo" data-filter="#filter" data-filter-text-only="true" >
                <thead>
                <tr>
                    <th data-type="numeric" data-sort-initial="true"> </th>
                    <th> Job Title </th>
                    <th data-sort-ignore="true"> Question Details </th>
                    <th> Option </th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="question in vm.questions | filter:vm.searchText">
                    <td style="width:2%" class="add-img-selector"><div class="checkbox">
                        <label>
                            <input type="checkbox">
                        </label>
                    </div></td>
                    <td style="width:14%"><strong> <a href="/#/job/{{question.job._id}}" title="{{question.job.title}}">{{question.job.title}}</a> </strong></td>

                    <td style="width:58%" class="ads-details-td">
                        <div>

                        <p> <strong> Title </strong>:
                            {{question.title}}</p>
                        <p> <strong> Description </strong>:
                            {{question.description | limitTo:50}} </p>
                            <p> <strong> Posted On </strong>:
                                {{question.datecreated}}</p>
                    </div>
                    </td>
                    <td style="width:10%" class="action-td"><div>
                        <p> <a class="btn btn-info btn-xs" href="/account/questions/view/{{question._id}}"><i class="fa fa-mail-forward"></i> View </a></p>
                        <p> <a class="btn btn-info btn-xs"> <i class="fa fa-mail-forward"></i> Answer </a></p>
                        <p> <a class="btn btn-danger btn-xs"> <i class=" fa fa-trash"></i> Delete </a></p>
                    </div></td>

                </tr>
                </tbody>
            </table>
        </div>
        <!--/.row-box End-->

    </div>
</div>
