<div class="col-sm-9 page-content col-thin-right">
    <div class="inner inner-box ads-details-wrapper">
        <h2>{{vm.question.title}} </h2>
        <span class="info-row"> <span class="date"><i class=" icon-clock"> </i> {{vm.question.datecreated}} </span> </span>

        <div class="Ads-Details">
            <h5 class="list-title"><strong>Question Details</strong></h5>
            <div class="row">
                <div class="ads-details-info col-md-8">
                    <p><strong> Related Job :</strong>{{vm.question.job.title}} </p>
                    <p>{{vm.question.description}} </p>
                </div>
            </div>
            <div class="content-footer text-left"> <a class="btn  btn-default" data-toggle="modal" ng-click="vm.answermodal(vm.question._id)"><i class=" icon-mail-2"></i> Add Answer </a> </div>
            <div class="content-footer text-left">
                <table id="addManageTable" class="table table-striped table-bordered add-manage-table table demo" data-filter="#filter" data-filter-text-only="true" >
                    <thead>
                    <tr>
                        <th data-sort-ignore="true"> Answer Details </th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td class="ads-details-td">
                            <div>
                                <p> <strong> Answer</strong>:
                                    {{vm.question.answer | raw}} </p>
                            </div>
                        </td>

                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <!--/.ads-details-wrapper-->

</div>
<!--/.page-content-->
<script type="text/ng-template" id="AnswerModalContent.html">
    <div class="modal-header">
        <h3 class="modal-title">Add/Edit Answer</h3>
    </div>
    <div class="modal-body">
        <form role="form" name="form" class="form-horizontal">

            <!-- Text input-->
            <div class="form-group required" ng-class="{ 'has-error': form.answer.$dirty && form.answer.$error.required }">
                <label class="col-md-4 control-label" >Answer <sup>*</sup></label>
                <div class="col-md-8">
                    <textarea rows="8" name="answer" ng-model="question.answer" placeholder="Answer Question" class="form-control input-md" required ></textarea>
                    <p ng-show="form.answer.$dirty && form.answer.$error.required" class="help-block"> Please include a answer for the Agent </p>
                </div>
            </div>
        </form>
    <br/>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" ng-disabled="form.$invalid" type="button" ng-click="ok()">OK</button>
        <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
    </div>
</script>
