
            <div class="col-md-9 page-content">

                <div class="inner-box category-content">
                    <h2 class="title-2"> <i class="icon-user-add"></i> Edit Job </h2>
                    <div class="row">
                        <div class="col-sm-12">
                        <div ng-class="{ 'alert': flash, 'alert-success': flash.type === 'success', 'alert-danger': flash.type === 'error' }" ng-if="flash" ng-bind="flash.message"></div>
                        <div ng-show="vm.job.error" class="alert alert-danger">{{vm.error}}</div>
                        <form class="form-horizontal" ng-submit="vm.UpdateJob()" name="form">
                                <fieldset>
                                    <!-- Text input-->
                                    <div class="form-group required" ng-class="{ 'has-error': form.firstname.$dirty && form.firstname.$error.required }">
                                        <label class="col-md-4 control-label" >Title <sup>*</sup></label>
                                        <div class="col-md-8">
                                            <input  name="title" ng-model="vm.job.title" placeholder="Job Title" class="form-control input-md" required type="text">
                                            <p ng-show="form.title.$dirty && form.title.$error.required" class="help-block"> Please input Job Title </p>
                                        </div>
                                    </div>
                                    <div class="form-group required" ng-class="{ 'has-error': form.category.$dirty && form.category.$error.required }">
                                        <label class="col-md-4 control-label" >Category<sup>*</sup></label>
                                        <div class="col-md-8">
                                            <select name="category" required="" ng-model="vm.job.category" class="form-control" placeholder="Select Category">
                                                <option ng-repeat="option in vm.categories" ng-selected="vm.job.category._id == option._id " value="{{option._id}}">{{option.title}}</option>
                                            </select>
                                            <p ng-show="form.category.$dirty && form.category.$error.required" class="help-block"> Please select a Category </p>
                                        </div>
                                    </div>
                                    <!-- Text input-->
                                    <div class="form-group required" ng-class="{ 'has-error': form.description.$dirty && form.description.$error.required }">
                                        <label class="col-md-4 control-label" >Description <sup>*</sup></label>
                                        <div class="col-md-8">
                                            <textarea  name="description" ng-model="vm.job.description" placeholder="Job Description" class="form-control input-md" required ></textarea>
                                            <p ng-show="form.description.$dirty && form.description.$error.required" class="help-block"> Please input the Job Description </p>
                                        </div>
                                    </div>

                                    <!-- Text input-->
                                    <div class="form-group required" ng-class="{ 'has-error': form.address.$dirty && form.address.$error.required }">
                                        <label class="col-md-4 control-label" >Address <sup>*</sup></label>
                                        <div class="col-md-8">
                                            <input  name="address" ng-model="vm.job.address" placeholder="Address" class="form-control input-md" type="text" required>
                                            <p ng-show="form.address.$dirty && form.address.$error.required" class="help-block"> Please input your Address </p>
                                        </div>
                                    </div>

                                    <!-- Text input-->
                                    <div class="form-group required" ng-class="{ 'has-error': form.budget.$dirty && form.budget.$error.required }">
                                        <label class="col-md-4 control-label" >Budget <sup>*</sup></label>
                                        <div class="input-group col-md-4" style="padding-left: 15px">
                                            <span class="input-group-addon">$</span>
                                            <input  name="budget" ng-model="vm.job.budget" placeholder="Budget in USD" class="form-control" type="number" required/>
                                            <p ng-show="form.budget.$dirty && form.budget.$error.required" class="help-block"> Please input your Budget </p>
                                        </div>

                                    </div>
                                    <!-- Multiple Radios -->
                                    <div class="form-group" ng-class="{ 'has-error': form.typeofexecutiondate.$dirty && form.typeofexecutiondate.$error.required }">
                                        <label class="col-md-4 control-label" >Type of Execution Date</label>
                                        <div class="col-md-8">
                                            <div class="radio">
                                                <label for="Typeofexecutiondate-0">
                                                    <input name="typeofexecutiondate" ng-model="vm.job.typeofexecutiondate" value="due" id="Typeofexecutiondate-0"  type="radio">
                                                    Due </label>
                                            </div>
                                            <div class="radio">
                                                <label for="Typeofexecutiondate-1">
                                                    <input name="typeofexecutiondate" ng-model="vm.job.typeofexecutiondate" value="periode" id="Typeofexecutiondate-1" type="radio">
                                                    Periode </label>
                                            </div>
                                            <p ng-show="form.typeofexecutiondate.$dirty && form.typeofexecutiondate.$error.required" class="help-block"> A value is required </p>
                                        </div>
                                    </div>
                                    <!-- Text input-->
                                    <div ng-show="vm.job.typeofexecutiondate == 'due'" class="form-group required" ng-class="{ 'has-error': form.execution_due_date.$dirty && form.execution_due_date.$error.required }">
                                        <label class="col-md-4 control-label" > Execution Due Date <sup>*</sup></label>
                                        <div class="col-md-8">
                                            <input  name="execution_due_date" ng-model="vm.job.execution_due_date" placeholder="Execution Due Date" class="form-control input-md" type="date"/>
                                            <p ng-show="form.execution_due_date.$dirty && form.execution_due_date.$error.required" class="help-block"> Please input the Execution Due Date</p>
                                        </div>
                                    </div>
                                    <!-- Text input-->
                                    <div ng-show="vm.job.typeofexecutiondate == 'periode'" class="form-group required" ng-class="{ 'has-error': form.execution_earliest_date.$dirty && form.execution_earliest_date.$error.required }">
                                        <label class="col-md-4 control-label" > Execution Earliest Date <sup>*</sup></label>
                                        <div class="col-md-8">
                                            <input  name="execution_earliest_date" ng-model="vm.job.execution_earliest_date" placeholder="Execution Earliest Date" class="form-control input-md" type="date"/>
                                            <p ng-show="form.execution_earliest_date.$dirty && form.execution_earliest_date.$error.required" class="help-block"> Please input the Execution Earliest Date</p>
                                        </div>
                                    </div>
                                    <!-- Text input-->
                                    <div ng-show="vm.job.typeofexecutiondate == 'periode'" class="form-group required" ng-class="{ 'has-error': form.execution_latest_date.$dirty && form.execution_latest_date.$error.required }">
                                        <label class="col-md-4 control-label" > Execution Latest Date <sup>*</sup></label>
                                        <div class="col-md-8">
                                            <input name="execution_latest_date" ng-model="vm.job.execution_latest_date" placeholder="Execution Latest Date" class="form-control input-md" type="date"/>
                                            <p ng-show="form.execution_latest_date.$dirty && form.execution_latest_date.$error.required" class="help-block"> Please Input the Execution Latest Date</p>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label  class="col-md-4 control-label"></label>
                                        <div class="col-md-8">

                                            <div style="clear:both"></div>
                                            <button type="submit" ng-disabled="form.$invalid || vm.dataLoading" class="btn btn-primary">Register</button>
                                            <img ng-if="vm.dataLoading" class="text-center" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />

                                        </div>
                                    </div>
                                </fieldset>
                            </form>
                        </div>
                    </div>
                </div>
            </div>