<div class="col-sm-9 page-content">
    <div class="inner-box">
        <h2 class="title-2"><i class="icon-docs"></i> {{Page.title}} </h2>
        <div class="table-responsive">
            <div class="table-action">
                <label for="checkAll">
                    <input type="checkbox" id="checkAll">
                    Select: All | <a href="#" class="btn btn-xs btn-danger">Delete <i class="glyphicon glyphicon-remove "></i></a> </label>
                <div class="table-search pull-right col-xs-7">
                    <div class="form-group">
                        <label  class="col-xs-5 control-label text-right">Search <br>
                            <a title="clear filter" class="clear-filter" href="#clear">[clear]</a> </label>
                        <div class="col-xs-7 searchpan">
                            <input type="text" class="form-control" ng-model="vm.searchText" id="filter">
                        </div>
                    </div>
                </div>
            </div>
            <table id="addManageTable" class="table table-striped table-bordered add-manage-table table demo" data-filter="#filter" data-filter-text-only="true" >
                <thead>
                <tr>
                    <th data-type="numeric" data-sort-initial="true"> </th>
                    <th> Job Title </th>
                    <th data-sort-ignore="true"> Job Details </th>
                    <th data-sort-ignore="true"> Messages </th>
                    <th data-type="numeric" > Budget </th>
                    <th data-type="numeric" > Bid Amount </th>
                    <th> Option </th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="bid in vm.bids | filter:vm.searchText">
                    <td style="width:2%" class="add-img-selector"><div class="checkbox">
                        <label>
                            <input type="checkbox">
                        </label>
                    </div></td>
                    <td style="width:14%"><strong> <a href="/#/job/{{bid.job._id}}" title="{{bid.job.title}}">{{bid.job.title}}</a> </strong></td>

                    <td style="width:29%" class="ads-details-td"><div>

                        <p> <strong> Posted On </strong>:
                            {{bid.job.datecreated}} </p>
                        <p> <strong> Description </strong>:
                            {{bid.job.description | limitTo:50}} </p>
                        <p>  <strong>Address </strong>:{{bid.job.address}}</p>
                        <p> <strong>Status </strong>: <span ng-if="!bid.bid_accepted_date" class="label label-default">Pending</a></span><span ng-if="bid.bid_accepted_date" class="label label-success">Accepted</span><span ng-if="bid.bid_declined_date" class="label label-warning">Rejected</span></p>
                    </div></td>
                    <td style="width:29%" class="ads-details-td"><div>
                        <p><strong>Bid Message:</strong> {{bid.message}}</p>
                        <p ng-if="bid.client_message"><strong>Client Message:</strong> {{bid.client_message}}</p>
                    </div></td>
                    <td style="width:8%" class="price-td"><div><strong> ${{bid.job.budget}}</strong></div></td>
                    <td style="width:8%" class="price-td"><div><strong> ${{bid.amount}}</strong></div></td>
                    <td style="width:10%" class="action-td"><div>
                        <p> <a class="btn btn-info btn-xs"> <i class="fa fa-mail-forward"></i> Share </a></p>
                        <p> <a class="btn btn-danger btn-xs"> <i class=" fa fa-trash"></i> Delete </a></p>
                    </div></td>
                </tr>
                </tbody>
            </table>
        </div>
        <!--/.row-box End-->

    </div>
</div>
