<div class="col-lg-9">
    <div class="alert alert-success pgray  alert-lg" role="alert">
        <h2 class="no-margin no-padding">&#10004; Congratulations! Your Job will be available soon.</h2>
        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh </p>
    </div>
</div>
