<div class="col-sm-9 page-content col-thin-right">
    <div class="inner inner-box ads-details-wrapper">
        <h2>{{vm.job.title}} </h2>
        <span class="info-row"> <span class="date"><i class=" icon-clock"> </i> {{vm.job.datecreated}} </span> </span>

        <div class="Ads-Details">
            <h5 class="list-title"><strong>Job Details</strong></h5>
            <div class="row">
                <div class="ads-details-info col-md-8">
                    <p>{{vm.job.description}} </p>
                </div>
                <div class="col-md-4">
                    <aside class="panel panel-body panel-details">
                        <ul>
                            <li>
                                <p class=" no-margin "><strong>Price:</strong> ${{vm.job.budget}}</p>
                            </li>
                            <li>
                                <p class="no-margin"><strong>Category:</strong> {{vm.job.category.title}} </p>
                            </li>
                            <li>
                                <p class=" no-margin "><strong>Date Due:</strong> {{vm.job.bid_accepted_date}}</p>
                            </li>
                        </ul>
                    </aside>
                    <div class="ads-action">
                        <ul class="list-border">
                            <li><a  href="#" > <i class=" fa fa-user"></i> More ads by User </a> </li>
                            <li><a  href="#" > <i class=" fa fa-heart"></i> Save ad </a> </li>
                            <li><a  href="#" > <i class="fa fa-share-alt"></i> Share ad </a> </li>
                            <li><a   href="#reportAdvertiser" data-toggle="modal"> <i class="fa icon-info-circled-alt"></i> Report abuse </a> </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="content-footer text-left"> <a class="btn  btn-default" data-toggle="modal" href="#contactAdvertiser"><i class=" icon-mail-2"></i> Send a message </a> <a class="btn  btn-info" ><i class=" icon-phone-1"></i> 01680 531 352 </a> </div>
        </div>
    </div>
    <!--/.ads-details-wrapper-->

</div>
<!--/.page-content-->
