<div class="row">
    <div class="col-md-12">
        <div class="box">
            <div class="box-header with-border">
                <h3 class="box-title">Kindly Enter your System Configuration</h3>

            </div><!-- /.box-header -->


            <div class="box-body">
                <div class="row">
                    <div class="col-md-12">


                        <div class="box box-primary">
                            <!-- form start -->
                            <form action="#" class="form-horizontal" id="settings-form" name="settings-form" role="form" method="post" accept-charset="utf-8">
                                <div class="box-body">
                                    <repeat group="{{ @list }}" value="{{ @setting }}">
                                        <div class="form-group">
                                            <label for="setting[{{@setting}}]" class="col-sm-3 control-label">{{ucwords(str_replace('.',' ',@setting))}}</label>
                                            <div class="col-sm-7">
                                                <input required="" name="setting[{{@setting}}]" class="form-control" placeholder="{{@setting}}" value="{{\Base::instance()->get(@setting)}}" type="text"/>
                                            </div>
                                        </div>
                                    </repeat>
                                </div>
                                <div class="box-footer">

                                    <div class="form-group">
                                        <div class="col-sm-offset-3 col-lg-8 col-sm-8 text-left">
                                            <button class="btn btn-app" type="submit"><i class="fa fa-save"></i> Save </button>

                                        </div>
                                    </div>
                                </div>

                            </form>





                        </div><!-- /.box -->

                    </div><!-- /.col -->
                </div><!-- /.row -->
            </div><!-- ./box-body -->
        </div><!-- /.box -->
    </div><!-- /.col -->
</div>