<form id="usertype-form" method="post" action="#" data-parsley-validate>
<div class="row general-fc">
    <div class="col-md-6">
        <div class="input-f-wrapper">
            <label>Name</label>
            <input required="" name="usertype[name]" placeholder="eg Admin" type="text"/>
        </div>
        <div>
            <label>Description</label>
            <textarea required name="usertype[description]" class="form-control" placeholder="Description: Max 50 words" cols="86" rows="5">{{ @@POST.usertype.description }}</textarea>
        </div>
    </div>
</div>


<div class="row">
    <div>
        <div class="col-md-6">
            <button class="btn blue-btn-check pull-left">Save and Continue</button></div>
    </div>
</div>
</form>