

<table class="table simple search">
    <thead>
    <tr>
        <th>Title</th>
        <th>Description</th>

        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <repeat group="{{ @@list.subset }}" key="{{ @iKey }}" value="{{ @user_type }}">
        <tr>
            <td> {{@user_type->name}}</td>
            <td>{{@user_type->description}}</td>

            <td>
                <ul>
                    <li class="blue"><a href="/{{@PARAMS.app }}/usertypes/edit/{{@user_type->id}}"><i class="fa fa-star">Edit</i></a></li>
                    <li class="red"><a class="delete" href="/{{@PARAMS.app }}/usertypes/delete/{{@user_type->id}}/"><i class="fa fa-ban">DEL</i></a></li>

                </ul>
            </td>
        </tr>
    </repeat>

    </tbody>
</table>
<pagebrowser items="{{ @list.total }}" limit="{{ @list.limit }}" token="page"/>
